.home-background {
    position: absolute;
    left: 3vw;
    right: 3vw;
    top: 3vw;
    height: 40vh;
    background-size: cover;
    z-index: -100;
}

.home-title {
    font-size: 25vw;
    line-height: .8;
    padding-top: 35vh;
    flex-basis: 100%;
    color: white;
    text-align: center;
    span {
        display: block;
    }
}

.home-info {
    font-size: 1.1rem;
    padding-left: 5%;
    text-align: left;
    position: absolute;
    bottom: 5%;
    p {
        margin-top: .5rem;
    }
    span {
        display: block;
    }
}