.menu-items {
    display: grid;
    margin-bottom: 4rem;
    @include bp(m){
        grid-template-columns: 1fr 1fr;
    }
}
.menu-item {
    padding: .5rem;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-column-start: auto;
    grid-column-end: span 1;
}

.menu-item-description {
    flex-basis: 100%;
}
.menu-item-price {
}