<footer class="site-footer">
<p class='footer-address'>
<span>49 Staffordshire Street</span>
<span>London SE15 5TJ</span>
</p>
<p class='contact'>
<span><a href="http://www.instagram.com/asidelondon">@asidelondon</a></span>
<span>hello@asidelondon.com</span>
<span>44 1542 373839</span>
</p>

<span class="site-copyright">© {{"now"|date('Y')}}</span>
</footer>