{% extends "base.twig" %}
{% block content %}
    <div class="home-images">
      <h1 class='home-title'>
      <span>Aside</span>
      <span>A Place to Gather</span>
      </h1>
      <img src="{{ theme.link }}/assets/source/wall-2.jpg" alt="test">
      <img src="{{ theme.link }}/assets/source/SIP-4817.jpg" alt="test">
      <img src="{{ theme.link }}/assets/source/SIP-4806.jpg" alt="test">
      <div class='home-info'>
      <p>
        <span>49 Staffordshire Street</span>
        <span>London SE15 5TJ</span>
        </p>
        <p class='contact'>
        <span><a href="http://www.instagram.com/asidelondon">@asidelondon</a></span>
        <span>hello@asidelondon.com</span>
        <span>44 1542 373839</span>
        </p>
    </div>
    </div>
    <script>
    {% include "./js/arrange-images.js" %}
    </script>
{% endblock %}