{% extends "base.twig" %}
{% block content %}
{% set images = ['SIP-4728.jpg', 'marble.jpg', 'h.jpg', 'SIP-4731.jpg', 'SIP-4738.jpg', 'SIP-4740.jpg', 'SIP-4746.jpg', 'SIP-4814.jpg', 'SIP-4817.jpg']%}
    <div class="home-background" id='js-imageContainer' style='background-image: url({{ theme.link }}/assets/dist/{{random(images)}})'>
    </div>
      <h1 class='home-title'>
      <span>Aside</span>
      </h1>
      <div class='home-info'>
      <p>
        <span>56 Goldsmith Rd</span>
        <span>London SE15 5TF</span>
        </p>
        <p class='contact'>
        <span>Reservations</span>
        <span><a href="mailto:hello@asidelondon.com">hello@asidelondon.com</a></span>
        <span>0207 358 1760</span>
        </p>
    </div>
    <script>
    </script>
{% endblock %}