{% extends "base.twig" %}
{% block content %}
    <div class="home-background" id='js-imageContainer'>
    </div>
      <h1 class='home-title'>
      <span>Aside</span>
      </h1>
      <div class='home-info'>
      <p>
        <span>56 Goldsmith Rd</span>
        <span>London SE15 5TF</span>
        </p>
        <p class='contact'>
        <span>Reservations</span>
        <span><a href="mailto:hello@asidelondon.com">hello@asidelondon.com</a></span>
        <span>0207 358 1760</span>
        </p>
    </div>
    <script>
    {% include "./js/arrange-images.js" %}
    </script>
{% endblock %}